/* styles.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

nav a {
  transition: color 0.2s;
}

nav a:hover {
  color: #e2e8f0;
}

nav .border-b-2:hover {
  border-color: #e2e8f0;
}
