.container {
color: white;
font-size: large;
line-height: 2rem;
}
.works_container {
color: white;
font-size: large;
line-height: 2rem;

img {
width: 700px;
display: block;
margin: auto;
margin-top:5rem;
padding-bottom: 5rem;
}
}
